.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
log
log/
manifest/config/config.yaml.template
manifest/config/config.yaml
**/**/*.log
cache
config.yaml
config.yaml.backup
publish_dev.sh
publish_main.sh
squash_opensource.sh
test/out/*.*
!storage/temp