.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
log
log/
**/**/*.log
cache
config.yaml
publish_dev.sh
publish_main.sh
squash_opensource.sh
test/out/*.*